footer {
    border-top: 1px solid #ddd;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    padding-top: 10px;
}

#text-header {
    margin-bottom: 10px;
}

#nav-order {
    margin-bottom: 20px;
}

#questions-list {
    margin-bottom: 0;
}

.border-top {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#score-likes {
    margin-right: 5px;
}

#answer-like {
    margin-right: 5px;
}

.flashes {
    color: #ff0000;
}

.pagination-page-info {
padding: .6em;
padding-left: 0;
width: 40em;
margin: .5em;
margin-left: 0;
font-size: 12px;
}
.pagination-page-info b {
color: black;
background: #6aa6ed;
padding-left: 2px;
padding: .1em .25em;
font-size: 150%;
}

#sing-up-buttons {
    margin-left: 20%;
}

#log-in-buttons {
    margin-left: 20%;
}