<html>
<head>
    <meta charset="UTF-8">
    <title>Ask a question - Get answers</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
</head>
<body>
    <div class="container" id="container">
        <header class="row" id="header">
            <div class="col-xs-12" id="actions-account">
                <ol class="breadcrumb">
                    {% if current_user.is_authenticated() %}
                    <li>
                        {{ current_user.username }}
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                    <li class="pull-right">
                        <a href="{{ url_for('question_add') }}">Ask question</a>
                    </li>
                    <li class="pull-right">
                        <a href=".">My questions</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('login') }}">Log In</a>
                    </li>
                    <li>
                        <a href="{{ url_for('register') }}">Sing Up</a>
                    </li>
                    {% endif %}
                    <li class="pull-right">
                        <a href="{{ url_for('index') }}">Home</a>
                    </li>
                </ol>
            </div>

            <div class="col-xs-8" id="text-header">
                <h1>Ask a question - Get answers</h1>
            </div>
        </header>

        <div id="content">
            {% block content %}{% endblock %}
        </div> <!-- /content -->

        <footer>
            <div class="col-xs-12">
                &copy; 2015 Ask a question - Get answers
            </div>
        </footer>
    </div> <!-- /container -->
</body>
</html>