{% extends "base.html" %}

{% block content %}
<h3 class="border-top">Question add</h3>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form class='form-horizontal blueForms' method="post"
action="">
    {{form.hidden_tag()}}
    <div id="div_title" class="form-group row">
        <label class="col-xs-1 control-label requiredField">
            {{ form.title.label }}
        </label>
        <div class="controls col-xs-4">
            <input class="textinput textInput form-control"
            id="title" maxlength="50" value="{{ request.form['title'] }}"
            name="title" type="text">
        </div>
    </div>
    <div id="div_description" class="form-group">
        <label class="control-label col-xs-1 requiredField">
            {{ form.text.label }}
        </label>
        <div class="controls col-xs-4">
            <textarea class="form-control" rows="8" name="text">{{ request.form['text'] }}</textarea>
        </div>
    </div>
    <div id="form-buttons">
        <input type="submit" name="save" value="Save"
        class="btn btn-primary" id="submit-id-save">
        <a class="btn btn-default" href="/">
            Cancel
        </a>
    </div>
</form>

{% endblock %}