{% extends "base.html" %}

{% block content %}
<h3 class="border-top">{{ question.topic }}</h3>
<div class="panel panel-primary">
    <div class="panel-heading">
        Велимчаниця Олександр
    </div>
    <div class="panel-footer">
        {{ question.text }}
    </div>
</div>
<h3 class="border-top">Відповіді</h3>
{% for answer in answers %}
<div class="panel panel-default">
    <div class="panel-heading">
        Іван Іванов
        <span class="glyphicon glyphicon-thumbs-up pull-right" aria-hidden="true"></span>
        <span class="badge pull-right" id="score-likes">2314</span>
    </div>
    <div class="panel-body">
        {{ answer.text }}
    </div>
</div>
{% endfor %}

<form class='form-horizontal blueForms border-top' method="post"
action="/question/{{ question.id }}/review">
    <div id="div_description" class="form-group">
        <label class="control-label col-xs-1 requiredField">
            Дати відповідь
        </label>
        <div class="controls col-xs-4">
            <textarea class="form-control" rows="8" name="text"></textarea>
        </div>
    </div>
    <div id="form-buttons">
        <input type="submit" name="save" value="Написати"
        class="btn btn-primary" id="submit-id-save">
        <a class="btn btn-default" href="/">
            На головну
        </a>
    </div>
</form>

{% endblock %}