{% extends 'base.html' %}

{% block content %}

<h2 class="border-top" id="header-text">Sign Up</h2>
<!-- Login Form -->
<form class='form-horizontal blueForms' method="post"
action="/register">
    {{form.hidden_tag()}}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="div_id_username" class="form-group">
        <label class="control-label col-lg-3">
            {{ form.username.label }}
        </label>
        <div class="controls col-lg-3">
            <input class="textinput textInput form-control"
            id="id_username" maxlength="30" name="username"
            type="text" value="{{ request.form['username'] }}" requariment>
        </div>
    </div>
    <div id="div_id_email" class="form-group">
        <label class="control-label col-lg-3">
            {{ form.email.label }}
        </label>
        <div class="controls col-lg-3">
            <input class="textinput textInput form-control"
            id="id_email" maxlength="30" name="email"
            type="text" value="{{ request.form['email'] }}" requariment>
        </div>
    </div>
    <div id="div_id_password" class="form-group">
        <label class="control-label col-lg-3 requiredField">
            {{ form.password.label }}
        </label>
        <div class="controls col-lg-3">
            <input class="textinput textInput form-control"
            id="id_password" maxlength="15" name="password"
            type="password">
        </div>
    </div>
    <div id="div_id_confirm" class="form-group">
        <label class="control-label col-lg-3 requiredField">
            {{ form.confirm.label }}
        </label>
        <div class="controls col-lg-3">
            <input class="textinput textInput form-control"
            id="id_confirm" maxlength="15" name="confirm"
            type="password">
        </div>
    </div>
    <div id="div_id_confirm" class="form-group">
        <label class="control-label col-lg-3 requiredField">
            {{ form.accept_tos.label }}
        </label>
        <div class="controls col-lg-3">
            {{ form.accept_tos }}
        </div>
    </div>
    <div id="sing-up-buttons" class="buttons-form-submit">
        <input type="submit" name="save" value="Sign Up"
        class="btn btn-primary" id="submit-id-save">
        <a class="btn btn-default" href="{{ url_for('index') }}">
            Home
        </a>
    </div>
</form>

{% endblock %}